<!DOCTYPE html>
<html> 
  <head>
    <link rel="stylesheet" href="/css/default.css" />
  </head>

  <body>
      {{range .}}
      <div>
        <ul>
          <li>
            {{.Bucket.Title}}
            <form action="/create/{{.Bucket.Id}}" method="get">
              <input type="submit" value="Edit"/>
            </form>
            <form action="/remove/{{.Bucket.Id}}" method="get">
              <input type="submit" value="Delete"/>
            </form>
          </li>
          {{range .Tokens}}
          <li>{{.Job}}:{{.Email}}</li>
          {{end}}
        </ul>
      </div>
      {{end}}
      <form action="/create/0" method="get">
        <input type="submit" value="Add Bucket"/>
      </form>
  </body>
</html>