<!DOCTYPE html>
<html> 
  <head>
    <link rel="stylesheet" href="/css/default.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
    $( function() {
    $( "#buckets" ).sortable();
    $( "#buckets" ).disableSelection();
    $( "{{range .}}#{{.Bucket.Title}}{{end}}" ).sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  } );
    </script>
  </head>

  <body>
    <ul id="buckets">
      {{range .}}
      <li>
        <ul id="{{.Bucket.Title}}" class="connectedSortable">
          <li>
            {{.Bucket.Position}}:{{.Bucket.Title}}
          </li>
          {{range .Tokens}}
          <li>
            {{.Job}}:{{.Email}}
            <form action="/advance/{{.Id}}" method="get">
              <input type="submit" value="Advance"/>
            </form>
            <form action="/remove/token/{{.Id}}" method="get">
              <input type="submit" value="Delete"/>
            </form>
          </li>
          {{end}}
          <li>
            <form action="/create/{{.Bucket.Id}}" method="get">
              <input type="submit" value="Edit"/>
            </form>
            <form action="/remove/bucket/{{.Bucket.Id}}" method="get">
              <input type="submit" value="Delete"/>
            </form>
          </li>
          <li>
            <form action="/move/{{.Bucket.Id}}/toLeft" method="get">
              <input type="submit" value="Move Left"/>
            </form>
            <form action="/move/{{.Bucket.Id}}/toRight" method="get">
              <input type="submit" value="Move Right"/>
            </form>
          </li>
        </ul>
      </li>
      {{end}}
    </ul>
      <div>
        <ul>
          <li>
            <form action="/create/0" method="get">
              <input type="submit" value="Add Bucket"/>
            </form>
          </li>
        </ul>
      </div>
  </body>
</html>