<!DOCTYPE html>
<html> 
  <head>
    <link rel="stylesheet" href="/css/default.css" />
  </head>

  <body>
      {{range .}}
      <div>
        <ul>
          <li>
            {{.Bucket.Title}}
            <form action="/create/{{.Bucket.Id}}" method="get">
              <input type="submit" value="Edit"/>
            </form>
            <form action="/remove/{{.Bucket.Id}}" method="get">
              <input type="submit" value="Delete"/>
            </form>
            <form action="/move/{{.Bucket.Id}}/toRight" method="get">
              <input type="submit" value="Move Right"/>
            </form>
            <form action="/move/{{.Bucket.Id}}/toLeft" method="get">
              <input type="submit" value="Move Left"/>
            </form>
            <form action="/remove/{{.Bucket.Id}}" method="get">
              <input type="submit" value="Delete"/>
            </form>
          </li>
          {{range .Tokens}}
          <li>{{.Job}}:{{.Email}}</li>
          {{end}}
        </ul>
      </div>
      {{end}}
      <div>
        <ul>
          <li>
            <form action="/create/0" method="get">
              <input type="submit" value="Add Bucket"/>
            </form>
          </li>
        </ul>
      </div>
  </body>
</html>